<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% form_theme requestForm 'bootstrap_5_layout.html.twig' %}

<head>
	<title>
		{% block title %}Réinitialisez votre mot de passe
		{% endblock %}
	</title>
</head>

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<h1 class="text-center mb-5">Réinitialisez votre mot de passe</h1>
	<div class="container  py-2 h-100">
		<div class="row justify-content-center align-items-center h-100">
			<div class="card  shadow-2-strong  text-center" style="border-radius: 15px; width:32rem">
				<div class="card-body p-4 p-md-5">
					{{ form_start(requestForm) }}
					{{ form_row(requestForm.email) }}
					<div>
						<small class="text-danger">
							Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
						</small>
					</div>
					<button class="btn btn-primary  mb-5 mt-5">
						<span class="text-white">Réinitialisez</span>
					</button>
					{{ form_end(requestForm) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
