{% extends 'base.html.twig' %}
{% block title %}A Propos
{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html lang="zxx">

		<body>
			<!-- Breadcrumb Section Begin -->
			<section class="breadcrumb-section spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="breadcrumb-text">
								<h4>A propos
								</h4>
								<div class="bt-option">
									<a a href="{{path('app_accueil')}}">
										<i class="fa fa-home"></i>
										Acceuil</a>
									<span>à propos</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Breadcrumb Section End -->

			<!-- About Section Begin -->
			<section class="about-section spad">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="about-text">
								<div class="at-title">
									<h3>BIENVENUE SUR SAFER</h3>
									<p>Nous sommes une société d’aménagement foncier et d’établissement rural permettant à tout porteur de projet viable –
																																																																																																																																																																																																																																																																																																																																																															qu’il soit agricole, artisanal, de service, résidentiel ou environnemental – de s’installer en milieu rural.
									</p>
									<h5>
										<b>Avec SAFER vous pouvez:</b>
									</h5>
								</div>
								<div class="at-feature">
									<div class="af-item">
										<div class="af-icon">
											<img src="img/chooseus/chooseus-icon-1.png" alt="">
										</div>
										<div class="af-text">
											<h6>Trouvez votre futur emplacement</h6>
											<p>Nous vous aidons à trouver un nouveau emplacement en vous proposant les meilleurs de nos biens.</p>
										</div>
									</div>
									<div class="af-item">
										<div class="af-icon">
											<img src="img/chooseus/chooseus-icon-2.png" alt="">
										</div>
										<div class="af-text">
											<h6>Agents expérimentés</h6>
											<p>Trouvez un agent qui connaît le mieux votre marché</p>
										</div>
									</div>
									<div class="af-item">
										<div class="af-icon">
											<img src="img/chooseus/chooseus-icon-3.png" alt="">
										</div>
										<div class="af-text">
											<h6>Acheter ou louer des maisons</h6>
											<p>Des millions de maisons et d'appartements dans vos villes préférées</p>
										</div>
									</div>
									<div class="af-item">
										<div class="af-icon">
											<img src="img/chooseus/chooseus-icon-4.png" alt="">
										</div>
										<div class="af-text">
											<h6>
												listez vos favoris</h6>
											<p>Inscrivez-vous maintenant et mettez en favoris vos bien preférés
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="about-pic set-bg" data-setbg="img/about-us.jpg">
								<a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" class="play-btn video-popup">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- About Section End -->

			<!-- Team Section Begin -->
			<section class="team-section spad">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="section-title">
								<h4>Latest Property</h4>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="team-btn">
								<a href="#">
									<i class="fa fa-user"></i>
									ALL counselor</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="ts-item">
								<div class="ts-text">
									<img src="img/team/team-1.jpg" alt="">
									<h5>Ashton Kutcher</h5>
									<span>123-455-688</span>
									<p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
									<div class="ts-social">
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#">
											<i class="fa fa-envelope-o"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="ts-item">
								<div class="ts-text">
									<img src="img/team/team-2.jpg" alt="">
									<h5>Ashton Kutcher</h5>
									<span>123-455-688</span>
									<p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
									<div class="ts-social">
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#">
											<i class="fa fa-envelope-o"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="ts-item">
								<div class="ts-text">
									<img src="img/team/team-3.jpg" alt="">
									<h5>Ashton Kutcher</h5>
									<span>123-455-688</span>
									<p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
									<div class="ts-social">
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#">
											<i class="fa fa-envelope-o"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Team Section End -->

			<!-- Testimonial Section Begin -->

			<!-- Testimonial Section End -->

			<!-- Contact Section Begin -->

				<div class="logo-carousel" , style="position: center;"> <h4>
					<b>Nous contacter:</b>
				</h4>
			</div>
			<section class="contact-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">


							<div class="contact-info">

								<div class="ci-item">
									<div class="ci-icon">
										<i class="fa fa-map-marker"></i>
									</div>

									<div class="ci-text">
										<h5>Address</h5>
										<p>160 Pennsylvania Ave NW, Washington, Castle, PA 16101-5161</p>
									</div>
								</div>
								<div class="ci-item">
									<div class="ci-icon">
										<i class="fa fa-mobile"></i>
									</div>
									<div class="ci-text">
										<h5>Phone</h5>
										<ul>
											<li>125-711-811</li>
											<li>125-668-886</li>
										</ul>
									</div>
								</div>
								<div class="ci-item">
									<div class="ci-icon">
										<i class="fa fa-headphones"></i>
									</div>
									<div class="ci-text">
										<h5>Support</h5>
										<p>Support.aler@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cs-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd" height="450" style="border:0;" allowfullscreen=""></iframe>
				</div>
			</section>
		</body>
	</html>
{% endblock %}
