<form method="post" action="{{ path('admin_categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Ete vous sûr de vouloir supprimer cette catgorie?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoire.id) }}">
	<button class="btn">Delete</button>
</form>
